<?php

$siteUrl = $this->serverUrl();

$listPages = $this->listPages;
$search_form = $this->search_form;
$list_roles = $this->list_roles;

$this->headTitle('Польователи');





?>
<div class="page-header">
    <h1>Пользователи<small> Все объекты</small></h1>
</div>
<!--<div class="header-admin-controls">
    <div class="btn-group">
        <button type="button" class="btn btn-success btn-xs js-button-link"
                data-href="<?= $siteUrl . $this->url('admin-ads-requests-add')?>" data-target="_self">Добавить</button>
    </div>
</div>-->
<?php echo $this->partial( 'admin/messages',
    array(
        'messages' => $this->messages,
    )
)?>
<script type="text/javascript">
    $(function(){
        $('input.icheck').iCheck({
            checkboxClass: 'icheckbox_minimal'
        });
    });
</script>

<div class="table-responsive">
    <div class="row">

            <div class="col-sm-8">
                <div class="panel panel-success" data-collapsed="1">
                    <!-- panel head -->
                    <div class="panel-heading">
                        <div class="panel-title">Фильтр</div>

                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        </div>
                    </div>

                    <!-- panel body -->
                    <div class="panel-body">
                        <form name="search_form" method="get" action="">
                            <div class="col-md-3">
                                <div class="form-group">

                                    <select name="search_form[role_id]" id="filter_fail_property" class="selectboxit" data-first-option="false">
                                        <option>Роль</option>
                                        <?php foreach( $list_roles as $keyIndex => $objRole ) {?>
                                            <?php if( isset($search_form['role_id']) ) {?>
                                               <?php if ( ((int)$search_form['role_id']) == $objRole->ur_id ) {?>
                                                    <option value="<?=$objRole->ur_id?>" selected="selected"><?=$objRole->ur_name?></option>
                                               <?php } else { ?>
                                                    <option value="<?=$objRole->ur_id?>"><?=$objRole->ur_name?></option>
                                               <?php } ?>
                                            <?php } else { ?>
                                                <option value="<?=$objRole->ur_id?>"><?=$objRole->ur_name?></option>
                                            <?php } ?>
                                        <?php } ?>


                                    </select>

                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="filter_search" name="search_form[name]" placeholder="Поиск e-mail"
                                           value="<?=(isset($search_form['name']))?$search_form['name']:''?>" />
                                </div>

                            </div>
                            <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-warning btn-sm btn-icon icon-left js-button-link"
                                        data-href="<?=$siteUrl . $this->url('admin-accounts')?>"
                                        data-target="_self" title="Сбросить">
                                    <i class="entypo-cancel-squared"></i>
                                    Сбросить
                                </button>
                                <button type="submit" class="btn btn-success btn-sm btn-icon icon-left" title="Применить">
                                    <i class="entypo-check"></i>
                                    Применить
                                </button>
                            </div>
                            </div>
                        </form>
                    </div>
                    <!-- panel body -->

                </div>
            </div>

    </div>
    <form name="index_mass_action" method="post" action="">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-success" data-collapsed="1">
                    <!-- panel head -->
                    <div class="panel-heading">
                        <div class="panel-title">Операции над выбранными элементами</div>

                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        </div>
                    </div>

                    <!-- panel body -->
                    <div class="panel-body">
                        <button type="button" class="btn btn-default btn-sm btn-icon js-button-link-many btn-block"
                                data-href="<?=$siteUrl . $this->url( 'admin-accounts-users-hide' )?>"
                                data-target="_self" title="Деактивировать">
                            <i class="entypo-eye"></i>
                            Деактивировать
                        </button>
                        <button type="button" class="btn btn-success btn-sm btn-icon js-button-link-many btn-block"
                                data-href="<?=$siteUrl . $this->url( 'admin-accounts-users-show' )?>"
                                data-target="_self" title="Активировать">
                            <i class="entypo-eye"></i>
                            Активировать
                        </button>
                        <button type="button" class="btn btn-danger  btn-sm btn-icon js-button-to-modal-submit-many btn-block"
                                data-href="<?=$siteUrl . $this->url( 'admin-accounts-users-delete' )?>"
                                data-target="#removeUser" title="Удалить">
                            <i class="entypo-trash"></i>
                            Удалить
                        </button>
                    </div>
                    <!-- panel body -->

                </div>
            </div>
        </div>

        <table class="table gray-style">

            <thead>
                <tr>
                    <th><i class="entypo-check"></i></th>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Права</th>
                    <th>Дата регистрации</th>
                    <th>Дата обновления</th>
                    <th>Статус</th>
                    <th>Управление</th>
                </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="5">

                </td>
            </tr>
            </tfoot>
        <?php foreach ($users as $keyIndex => $objUser ) : ?>
            <tr>
                <td><input type="checkbox" value="<?=$objUser->u_id?>" class="icheck" name="accounts_mass[][id]"> </td>
                <td><?php echo $this->escapeHtml($objUser->u_id);?></td>
                <td><?php echo $this->escapeHtml($objUser->u_name);?></td>
                <td><?php echo $this->escapeHtml($objUser->ur_name);?></td>
                <td><?php echo $this->escapeHtml( date( DEF_DATE_MASK_ADMIN, strtotime($objUser->u_created_at ) ) );?></td>
                <td><?php echo $this->escapeHtml( date( DEF_DATE_MASK_ADMIN, strtotime($objUser->u_updated_at ) ) );?></td>
                <td class="td-align-center">
                    <?php if ( $objUser->u_active == 1 ) {?>
                        <span class="badge status-active " title="Учетная запись активна"><b class="glyphicon glyphicon-eye-open"></b></span>
                    <?php } else {?>
                        <span class="badge status-unactive " title="Учетная запись  не активна"><b class="glyphicon  glyphicon-eye-close"></b></span>
                    <?php }?>
                </td>
                <td class="td-align-right">

                        <?php if ( $objUser->u_not_edit != 1 ) {?>
                            <button type="button" class="btn btn-warning  btn-sm btn-icon icon-left js-button-link"
                                    data-href="<?= $siteUrl . $this->url('admin-accounts-user-add', array( 'u_id' => $objUser->u_id))?>"
                                    data-target="_self" title="Редактировать">
                                <i class="entypo-pencil"></i>
                                Редактировать
                            </button>


                            <!--<?php if ( $objUser->u_active == 1 ) {?>
                                <button class="btn btn-default js-button-link"
                                        data-href="<?=$siteUrl . $this->url( 'admin-accounts-user-hide', array( 'u_id' => $objUser->u_id ) )?>"
                                        data-target="_self" title="Скрыть">
                                    <span class="glyphicon glyphicon-eye-close"></span>
                                </button>
                            <?php } else {?>
                                <button class="btn btn-success js-button-link"
                                        data-href="<?=$siteUrl . $this->url( 'admin-accounts-user-show', array( 'u_id' => $objUser->u_id ) )?>"
                                        data-target="_self"  title="Показать">
                                    <span class="glyphicon glyphicon glyphicon-eye-open"></span>
                                </button>
                            <?php }?>-->

                        <?php } ?>
                        <?php if ( $objUser->u_not_remove != 1 ) {?>

                            <button type="button" class="btn btn-danger  btn-sm btn-icon icon-left js-button-to-modal-submit"
                                    data-href="<?=$siteUrl . $this->url( 'admin-accounts-user-delete', array( 'u_id' => $objUser->u_id ) )?>"
                                    data-target="#removeUser" title="Удалить">
                                <i class="entypo-trash"></i>
                                Удалить
                            </button>

                        <?php } ?>

                </td>

            </tr>
        <?php endforeach; ?>
        </table>
    </form>
    <?php // add at the end of the file after the table
    echo $this->paginationControl(
    // the paginator object
        $users,
        // the scrolling style; see http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
        'elastic',
        // the partial to use to render the control
        array('partial/admin/pagination.phtml', 'Account'),
        // the route to link to when a user clicks a control link
        array(
            'route' => 'admin-accounts',
            'paramsFilter' => array( 'filter' => array() ),
        )
    );
    ?>
    <!-- Modal -->

</div>

<div class="modal fade admin-modal-remove" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="removeUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Подтвердите удаление</h4>
            </div>
            <div class="modal-body">
                Данная операция необратима.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger js-modal-submit js-button-link">Удалить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->