<?php echo $this->doctype(); ?>
<?php
$siteUrl = $this->serverUrl();

$linkAdminStylesTheme = $siteUrl . '/neon/neon/';
$userRole = $this->userAuthHelper('ur_name');
?>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle( "Администрирование" )
        ->setSeparator( ' ' )
        ->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $siteUrl . '/img/favicon.ico'))




        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/custom.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-forms.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-theme.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-core.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/bootstrap.css?v=' . DEF_CSS_VER)


        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/font-icons/entypo/css/entypo.css?v=' . DEF_CSS_VER)
        ->prependStylesheet('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css?v=' . DEF_CSS_VER)


    ?>

    <!-- Scripts -->

    <?php echo $this->headScript()


        ->prependFile($siteUrl . '/js/respond.min.js?v=' . DEF_JS_VER, 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($siteUrl . '/js/html5shiv.js?v=' . DEF_JS_VER,   'text/javascript', array('conditional' => 'lt IE 9',))

        ->prependFile($linkAdminStylesTheme . 'assets/js/jquery-1.11.0.min.js?v=' . DEF_JS_VER)
    ; ?>

    <!--[if lt IE 9]><script src="<?=$linkAdminStylesTheme?>assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <script type="text/javascript">
        jQuery = $.noConflict();
        $ = jQuery.noConflict();

    </script>


    <script type="text/javascript">
        var siteUrl = '<?=$siteUrl?>';
        var imageUploadInContent = '';
    </script>




</head>
<body class="page-body">



<div class="page-container horizontal-menu">


    <div class="main-content">
        <?php
        // In any of your .phtml files:
        $flash = $this->flashMessenger();
        $flash->setMessageOpenFormat('<div%s>
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
             &times;
         </button>
         <ul><li>')
            ->setMessageSeparatorString('</li><li>')
            ->setMessageCloseString('</li></ul></div>');

        echo $flash->render('error',   array('alert', 'alert-dismissable', 'alert-danger'));
        echo $flash->render('info',    array('alert', 'alert-dismissable', 'alert-info'));
        echo $flash->render('default', array('alert', 'alert-dismissable', 'alert-warning'));
        echo $flash->render('success', array('alert', 'alert-dismissable', 'alert-success'));
        ?>
        <?php echo $this->partial('layout/notifications_admin');?>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <?php echo $this->content; ?>
            </div>
        </div>

    </div><!-- .main-content -->
</div> <!-- .page-container -->
    <div class="modal fade" id="modal-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title js-modal-title"></h4>
                </div>

                <div class="modal-body js-modal-body">
                    Hello I am a Modal!
                </div>

                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info">Save changes</button>
                </div>-->
            </div>
        </div>
    </div>
<?php echo $this->inlineScript() ?>

    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/css/font-icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/select2/select2.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/selectboxit/jquery.selectBoxIt.css">

    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/icheck/skins/minimal/_all.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/icheck/skins/square/_all.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/icheck/skins/flat/_all.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/icheck/skins/futurico/futurico.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/icheck/skins/polaris/polaris.css">

    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/jcrop/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="<?=$linkAdminStylesTheme?>assets/js/dropzone/dropzone.css">
    <!-- Bottom Scripts -->
    <script src="<?=$linkAdminStylesTheme?>assets/js/gsap/main-gsap.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/bootstrap.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/joinable.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/resizeable.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-api.js"></script>

    <script src="<?=$linkAdminStylesTheme?>assets/js/jcrop/jquery.Jcrop.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/dropzone/dropzone.js"></script>


    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery.validate.min.js"></script>

    <script src="<?=$linkAdminStylesTheme?>assets/js/icheck/icheck.min.js"></script>

    <script src="<?=$linkAdminStylesTheme?>assets/js/toastr.js"></script>



    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery.sparkline.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/rickshaw/rickshaw.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/raphael-min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/morris.min.js"></script>


    <script src="<?=$linkAdminStylesTheme?>assets/js/wysihtml5/wysihtml5-0.4.0pre.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/wysihtml5/bootstrap-wysihtml5.js"></script>

    <script src="<?=$linkAdminStylesTheme?>assets/js/bootstrap-switch.min.js"></script>

    <script src="<?=$linkAdminStylesTheme?>assets/js/select2/select2.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>


    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-chat.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-custom.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-demo.js"></script>







</body>
</html>
