<?php echo $this->doctype(); ?>
<?php
$siteUrl = $this->serverUrl();

$linkAdminStylesTheme = $siteUrl . '/neon/neon/';
?>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle( "Администрирование" )
        ->setSeparator( ' ' )
        ->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
            ->appendName('HandheldFriendly', 'true')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $siteUrl . '/img/favicon.ico'))



        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/custom.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-forms.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-theme.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/neon-core.css?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/bootstrap.css?v=' . DEF_CSS_VER)


        ->prependStylesheet($linkAdminStylesTheme . 'assets/css/font-icons/entypo/css/entypo.css?v=' . DEF_CSS_VER)
        ->prependStylesheet('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic?v=' . DEF_CSS_VER)
        ->prependStylesheet($linkAdminStylesTheme . 'assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css?v=' . DEF_CSS_VER)


    ?>

    <!-- Scripts -->

    <?php echo $this->headScript()


        ->appendFile($siteUrl . '/js/lib/redactor-js/redactor/redactor.js?v=' . DEF_JS_VER)

        ->prependFile($siteUrl . '/js/respond.min.js?v=' . DEF_JS_VER, 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($siteUrl . '/js/html5shiv.js?v=' . DEF_JS_VER,   'text/javascript', array('conditional' => 'lt IE 9',))

        ->prependFile($linkAdminStylesTheme . 'assets/js/jquery-1.11.0.min.js?v=' . DEF_JS_VER)
    ; ?>

    <!--[if lt IE 9]><script src="<?=$linkAdminStylesTheme?>assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <script type="text/javascript">
        jQuery = $.noConflict();
        $ = jQuery.noConflict();
    </script>

    <script type="text/javascript" src="<?=$siteUrl?>/js/forms/forms.validator.js?v=<?=DEF_JS_VER?>"></script>
    <script type="text/javascript" src="<?=$siteUrl?>/js/lib/jquery.maskedinput.min.js?v=<?=DEF_JS_VER?>"></script>

    <script type="text/javascript" src="<?=$siteUrl?>/js/lib/typeahead.bundle.js?v=<?=DEF_JS_VER?>"></script>

    <script type="text/javascript">

        var siteUrl = '<?=$siteUrl?>';
        var imageUploadInContent = '';
    </script>




</head>
<body class="page-body login-page login-form-fall">

<!-- This is needed when you send requests via Ajax -->
<script type="text/javascript">
    var baseurl = '<?= $siteUrl . $this->url( 'auth', array( 'format' => 'json' ) )?>';
</script>
<div class="login-container">

    <div class="login-header login-caret">


    </div>

    <div class="login-progressbar">
        <div></div>
    </div>

    <div class="login-form">

        <div class="login-content">

            <div class="form-login-error">
                <h3>Ошибка</h3>
                <p>Не верный логин или пароль.</p>
            </div>

            <form method="post" action="" role="form" id="form_login">

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>

                        <input type="text" class="form-control" name="login[name]" id="username" placeholder="Логин" autocomplete="off" />
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>

                        <input type="password" class="form-control" name="login[pwd]" id="password" placeholder="Пароль" autocomplete="off" />
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        Вход
                        <i class="entypo-login"></i>
                    </button>
                </div>
            </form>




        </div>

    </div>

</div>


    <?php echo $this->inlineScript() ?>


    <!-- Bottom Scripts -->
    <script src="<?=$linkAdminStylesTheme?>assets/js/gsap/main-gsap.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/bootstrap.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/joinable.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/resizeable.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-api.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery.validate.min.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/jquery.validate.ru.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-login.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-custom.js"></script>
    <script src="<?=$linkAdminStylesTheme?>assets/js/neon-demo.js"></script>
</body>
</html>
