<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/custom.css')
            ->prependStylesheet($this->basePath() . '/neon/neon-frontend/assets/css/neon.css')
            ->prependStylesheet($this->basePath() . '/neon/neon-frontend/assets/css/font-icons/entypo/css/entypo.css')
            ->prependStylesheet($this->basePath() . '/neon/neon-frontend/assets/css/bootstrap.css')
                         ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/neon/neon-frontend/assets/js/jquery-1.11.0.min.js')

            ->prependFile($this->basePath() . '/neon/neon-frontend/assets/js/ie8-responsive-file-warning.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
    <div class="wrap">
        <!-- Logo and Navigation --><div class="site-header-container container">
            <div class="row">
                <div class="col-md-12">
                    <header class="site-header">



                    </header>
                </div>
            </div>
        </div>
        <!-- Breadcrumb --><section class="breadcrumb">

            <div class="container">

                <div class="row">

                    <div class="col-sm-7">

                        <h1>Библиотека</h1>

                        <ol class="breadcrumb bc-3">
                            <li>
                                <a href="index.html"><i class="entypo-home"></i>Главная</a>
                            </li>

                        </ol>

                    </div>

                    <div class="col-sm-5">

                        <!-- Category Filter -->				<div class="btn-group alt-select-field" id="category-filter">

                            <button type="button" class="btn btn-label" data-toggle="dropdown">Издательства</button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                <?php if ( $this->listPH ) {?>
                                    <?php foreach( $this->listPH as $keyIndex => $objPH ) {?>
                                        <li>
                                            <a href="#" data-filter="pbh_<?=$objPH->pbh_id?>"><?=$objPH->pbh_name?></a>
                                        </li>
                                        <?php } ?>
                                <?php } ?>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </section>

            <?php echo $this->content; ?>

        <!-- Site Footer --><footer class="site-footer">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6">
                        Copyright &copy; Neon - All Rights Reserved.
                    </div>

                    <div class="col-sm-6">

                        <ul class="social-networks text-right">
                            <li>
                                <a href="#">
                                    <i class="entypo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-facebook"></i>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </footer>
    </div>
        <?php echo $this->inlineScript() ?>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/gsap/main-gsap.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/bootstrap.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/joinable.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/resizeable.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/selectnav.min.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/isotope/jquery.isotope.min.js"></script>
        <script src="<?=$this->basePath()?>/neon/neon-frontend/assets/js/neon-custom.js"></script>
    </body>
</html>
