<?php $arrMessage = $this->message; ?>
<?php if( is_array($arrMessage) ) {?>
    <?php if( isset($arrMessage['message']) ) {?>
        <?php if( $arrMessage['message'] ) {?>
            <div class="alert alert-<?= $arrMessage['error'] ?'danger':'success' ?> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?php
                $strMessage = "";
                switch( $arrMessage['message'] ) {
                    case "NOT_FOUND":{
                        $strMessage = "Данные не найдены";
                    };break;
                    case "DELETED":{
                        $strMessage = "Данные удалены";
                    };break;
                    case "UPDATED":{
                        $strMessage = "Данные обновлены";
                    };break;
                    case "CREATED":{
                        $strMessage = "Объект создан";
                    };break;
                }
                echo $strMessage;
                ?>
            </div>
        <?php } ?>
    <?php } ?>
<?php } ?>