<?php
$baseUrl = $this->serverUrl();
$listBooks = $this->listBooks;
?>
<section class="portfolio-container">

    <div class="container">

        <div class="row" id="portfolio-items">
            <?php if( $listBooks ) {?>
                <?php foreach( $listBooks as $keyIndex => $objBook ) {?>
                    <?php $objBook = (object) $objBook; ?>
                    <?php
                    $strLabelPH = "";
                    $strIdsPH = "";
                    if( count($objBook->listPH) ) {
                        $arrLabelPH = array();
                        $arrIdsPh = array();
                        foreach( $objBook->listPH as $objPH ) {
                            $objPH = (object)$objPH;
                            $arrLabelPH[] = $objPH->pbh_name;
                            $arrIdsPh[] = $objPH->pbh_id;
                        }

                        $strIdsPH = "filter-pbh_" . implode(" filter-pbh_", $arrIdsPh);

                        $strLabelPH = implode(", ", $arrLabelPH);
                    }
                    ?>
                    <div class="item col-sm-4 col-xs-6 <?=$strIdsPH?>">

                        <div class="portfolio-item">
                            <a href="#" class="image">
                                <img src="images/portfolio-thumb.png" class="img-rounded" />
                                <span class="hover-zoom"></span>
                            </a>

                            <h4>
                                <a href="#" class="like">
                                    <i class="entypo-heart"></i>
                                </a>

                                <a href="#" class="name"><?=$objBook->b_name?></a>
                            </h4>

                            <div class="categories">
                                <a href="#">Автор: <?=$objBook->b_author?> / Издательство: <?=$strLabelPH?></a>
                            </div>
                        </div>

                    </div>
                <?php } ?>
            <?php } ?>


        </div>



    </div>

</section>
<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        var $portfolio_items = $("#portfolio-items"),
            $category_filter = $("#category-filter");

        $portfolio_items.isotope({
            itemSelector: '.item',
            columnWidth: 1/4
        });

        $category_filter.on('change', function(ev, o)
        {
            var filter = o.el.data('filter');

            $portfolio_items.isotope({
                filter: o.isDefault ? '.item' : '.filter-' + filter
            });
        });

        $(window).on('neon.resize', function()
        {
            $portfolio_items.isotope('reLayout');
        });

        $portfolio_items.isotope('reLayout');
    });
</script>