<?php
$baseUrl = $this->serverUrl();
$objPH = ($this->objPH !== false)? $this->objPH: new \Book\Model\BookPublishingHouseItem();
$showError = $this->showError;
$success = $this->success;

?>
<?php if( $showError === true ) {?>
    <div class="alert alert-box alert-warning">
        Во время сохранения данных произошла ошибка. Повторите операцию позднее.
    </div>
<?php } ?>
<?php if( $success === true ) {?>
    <div class="alert alert-box alert-success">
        Данные успешно сохранены.
    </div>
<?php } ?>
<form method="post" role="form" id="ph_form" action="<?= $baseUrl . $this->url('admin-add-ph')?>" class="validate" >
    <input type="hidden" name="ph[id]" value="<?=$objPH->pbh_id?>">
    <div class="form-group">
        <label for="ph_name">Название</label>
        <input type="text" maxlength="240" data-validate="required"
               data-message-required="Поле не может быть пустым"
               required="required" class="form-control" value="<?=$objPH->pbh_name?>"
               name="ph[name]" id="ph_name" placeholder="" />
    </div>

    <div class="form-group">
        <?php if( $success === true ) {?>
            <button type="button" class="btn btn-sm btn-default js-reload-button">Закрыть</button>
        <?php } else { ?>
            <button type="button" class="btn btn-sm btn-default js-cancel-button">Отмена</button>
            <button type="button" class="btn btn-sm btn-info js-save-button">Сохранить</button>
        <?php } ?>
    </div>
</form>