<?php
$baseUrl = $this->serverUrl();
$objBook = ($this->objBook !== false)? $this->objBook: new \Book\Model\BookItem();
$listPH = $this->listPH;
$selectedPH = $this->selectedPH;

?>
<?php if( $showError === true ) {?>
    <div class="alert alert-box alert-warning">
        Во время сохранения данных произошла ошибка. Повторите операцию позднее.
    </div>
<?php } ?>
<?php if( $success === true ) {?>
    <div class="alert alert-box alert-success">
        Данные успешно сохранены.
    </div>
<?php } ?>
<form method="post" action="<?= $baseUrl . $this->url('admin-add-book')?>" role="form" class="validate">
    <input type="hidden" name="book[id]" value="<?=$objBook->b_id?>">
    <div class="form-group">
        <label for="book_name">Название</label>
        <input type="text" maxlength="240" data-validate="required"
               data-message-required="Поле не может быть пустым"
               required="required" class="form-control"
               value="<?=$objBook->b_name?>"
               name="book[name]" id="book_name" placeholder="" />
    </div>
    <div class="form-group">
        <label for="book_author">Автор</label>
        <input type="text" maxlength="240"  data-validate="required"
               data-message-required="Поле не может быть пустым"
               required="required" class="form-control"
               value="<?=$objBook->b_author?>"
               name="book[author]" id="book_author" placeholder="" />
    </div>
    <div class="form-group">
        <label for="book_price">Цена</label>
        <input type="text" maxlength="240"  data-validate="required,number"
               data-message-required="Поле не может быть пустым"
               data-message-number="Поле должно содержать только цифры"
               required="required" class="form-control"
               value="<?=$objBook->b_price?>"
               name="book[price]" id="book_price" placeholder="" />
    </div>
    <div class="form-group">
        <label for="book_published_year">Год издания</label>
        <input type="text" maxlength="240"  data-validate="required,number,minlength[4]"
               data-message-required="Поле не может быть пустым"
               data-message-number="Поле должно содержать только цифры"
               data-message-minlength="Введите верный год"
               required="required" class="form-control"
               value="<?=$objBook->b_published_year?>"
               name="book[published_year]" id="book_published_year" placeholder="" />
    </div>
    <?php if( count($listPH) ) {?>
    <div class="form-group">
        <label class="col-sm-3 control-label">Издательства</label>
        <div class="col-sm-9">
            <?php foreach( $listPH as $keyIndex => $objPH ) {?>
                <div class="">
                    <label for="list_ph_<?=$objPH->pbh_id?>"><?=$objPH->pbh_name?></label>
                        <input type="checkbox" data-validate="required,minlength[1]" data-message-required="Необходимо выбрать издательство" name="ph_select[]" id="list_ph_<?=$objPH->pbh_id?>"
                               value="<?=$objPH->pbh_id?>" <?=((in_array($objPH->pbh_id,$selectedPH))?'checked="checked"':"")?>  />
                </div>
            <?php } ?>
        </div>

    </div>
    <?php } ?>
    <div class="form-group">
        <?php if( $success === true ) {?>
            <button type="button" class="btn btn-sm btn-default js-reload-button">Закрыть</button>
        <?php } else { ?>
            <button type="button" class="btn btn-sm btn-default js-cancel-button">Отмена</button>
            <button type="button" class="btn btn-sm btn-info js-save-button">Сохранить</button>
        <?php } ?>
    </div>
</form>