<?php
$baseUrl = $this->serverUrl();
$listPH = $this->listPH;
$listBooks = $this->listBooks;
?>
<div class="page-header">
    <h1>Библиотека<small> Все объекты</small></h1>
</div>
<div class="header-admin-controls">

</div>
<div class="row">
    <div class="col-lg-8">
        <h2>Издательства</h2>
        <div class="btn-group">
            <button type="button" class="btn btn-success btn-xs js-button-link-modal"
                    data-href="<?= $baseUrl . $this->url('admin-add-ph')?>" data-target="_self">Добавить издательство</button>
        </div>
    </div>
</div>
<div class="table-responsive">

    <table class="table gray-style">

        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Управление</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3">

            </td>
        </tr>
        </tfoot>
        <tbody>
        <?php if( count($listPH) ) {?>
            <?php foreach( $listPH as $keyIndex => $objPH ) {?>
                <tr>
                <td><?=$keyIndex+1?></td>
                <td><?=$objPH->pbh_name?></td>
                <td>
                    <button type="button" class="btn btn-success btn-xs js-button-link-modal"
                            data-href="<?= $baseUrl . $this->url('admin-add-ph', array( 'id' => $objPH->pbh_id ))?>" data-target="_self">Изменить издательство</button>
                </td>
                </tr>
            <?php } ?>
        <?php }?>
        </tbody>
    </table>

</div>
<div class="row">
    <div class="col-lg-8">
        <h2>Книги</h2>
        <div class="btn-group">
            <?php if( count($listPH) ) {?>
            <button type="button" class="btn btn-success btn-xs js-button-link-modal "
                    data-href="<?= $baseUrl . $this->url('admin-add-book')?>" data-target="_self">Добавить книгу</button>
            <?php } ?>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table gray-style">

        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Издательство</th>
            <th>Управление</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5">

            </td>
        </tr>
        </tfoot>
        <tbody>
        <?php if( count($listBooks) ) {?>
            <?php foreach( $listBooks as $keyIndex => $objBook ) {?>
                <?php $objBook = (object)$objBook;

                ?>
                <tr>
                    <td><?=$keyIndex+1?></td>
                    <td><?=$objBook->b_name?></td>
                    <td><?=$objBook->b_author?></td>
                    <td>
                        <?php if(isset($objBook->listPH)) {?>
                            <?php if(count($objBook->listPH)) {?>
                                <?php foreach( $objBook->listPH as $arrPH) {?>
                                    <span><?=$arrPH['pbh_name']?>&nbsp;</span>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs js-button-link-modal"
                                data-href="<?= $baseUrl . $this->url('admin-add-book', array( 'id' => $objBook->b_id ))?>" data-target="_self">Редактировать</button>
                    </td>
                </tr>
            <?php } ?>
        <?php }?>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function(){
        $('.js-button-link-modal').click(function(){
            $('.js-modal-title').html('Редактирование');
            var uF = $(this).attr('data-href');
            $.ajax({
                url: uF,
                type: "GET",
                success: function(answer)
                {
                    $('.js-modal-body').html(answer);
                    bindValidate();
                    $('.js-cancel-button').click(function(){
                        $('.js-modal-body').html('');
                        $('#modal-1').modal("hide")
                    });
                    $('.js-save-button').click(function(){
                        var form = $(this).closest('form');
                        $(form).submit();
                    });
                }
            });

            $('#modal-1').modal("show");

            function saveForm(form)
            {
                var method = $(form).attr('method');
                var uF = $(form).attr('action');
                var dataForm = $(form).serialize();
                $.ajax({
                    url: uF,
                    type: method,
                    data: dataForm,
                    success: function(answer) {
                        $('.js-modal-body').html(answer);
                        $('.js-reload-button').click(function(){
                            location.reload();
                        });
                    }
                });
            }

            function bindValidate()
            {
                if($.isFunction($.fn.validate))
                {
                    $("form.validate").each(function(i, el)
                    {
                        var $this = $(el),
                            opts = {
                                rules: {},
                                messages: {},
                                errorElement: 'span',
                                errorClass: 'validate-has-error',
                                highlight: function (element) {
                                    $(element).closest('.form-group').addClass('validate-has-error');
                                },
                                unhighlight: function (element) {
                                    $(element).closest('.form-group').removeClass('validate-has-error');
                                },
                                errorPlacement: function (error, element)
                                {
                                    if(element.closest('.has-switch').length)
                                    {
                                        error.insertAfter(element.closest('.has-switch'));
                                    }
                                    else
                                    if(element.parent('.checkbox, .radio').length || element.parent('.input-group').length)
                                    {
                                        error.insertAfter(element.parent());
                                    }
                                    else
                                    {
                                        error.insertAfter(element);
                                    }
                                },
                                submitHandler: function(form) {
                                    saveForm(form);
                                }

                            },
                            $fields = $this.find('[data-validate]');

                        $fields.each(function(j, el2)
                        {
                            var $field = $(el2),
                                name = $field.attr('name'),
                                validate = attrDefault($field, 'validate', '').toString(),
                                _validate = validate.split(',');

                            for(var k in _validate)
                            {
                                var rule = _validate[k],
                                    params,
                                    message;

                                if(typeof opts['rules'][name] == 'undefined')
                                {
                                    opts['rules'][name] = {};
                                    opts['messages'][name] = {};
                                }

                                if($.inArray(rule, ['required', 'url', 'email', 'number', 'date', 'creditcard']) != -1)
                                {
                                    opts['rules'][name][rule] = true;

                                    message = $field.data('message-' + rule);

                                    if(message)
                                    {
                                        opts['messages'][name][rule] = message;
                                    }
                                }
                                // Parameter Value (#1 parameter)
                                else
                                if(params = rule.match(/(\w+)\[(.*?)\]/i))
                                {
                                    if($.inArray(params[1], ['min', 'max', 'minlength', 'maxlength', 'equalTo']) != -1)
                                    {
                                        opts['rules'][name][params[1]] = params[2];


                                        message = $field.data('message-' + params[1]);

                                        if(message)
                                        {
                                            opts['messages'][name][params[1]] = message;
                                        }
                                    }
                                }
                            }
                        });

                        $this.validate(opts);
                    });
                }
            }
        });
    });
</script>

