<?php
$listUsers = $this->users;
$showError = $this->showError;
$answerAuth = $this->answerAuth;
$siteUrl = $this->serverUrl();

$this->headLink()->prependStylesheet($siteUrl . '/css/admin/auth/page.css?v=' . DEF_CSS_VER)
?>
<div class="center-block wrap-auth-form">
    <div class="row">
        <form method="POST" action="" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="login" class="col-sm-2 control-label">
                   Логин:
                </label>
                <div class="col-sm-8">
                    <input type="text" value="" class="form-control" name="login[name]" id="login" />
                </div>
            </div>
            <div class="form-group">
                <label for="pwd" class="col-sm-2 control-label">
                    Пароль:
                </label>
                <div class="col-sm-8">
                    <input type="password" value="" class="form-control" name="login[pwd]" id="pwd" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="form-control">Вход</button>
                </div>
            </div>
        </form>
    </div>
</div>