<?php

$this->headTitle('Панель администрирования');
$siteUrl = $this->serverUrl();

$from_unix_time = mktime();
$day_before = strtotime("-7 day", $from_unix_time);
$frmtDayBefore = date(DEF_DATE_MASK_ADMIN, $day_before);
$frmtDayNow = date(DEF_DATE_MASK_ADMIN);

/* COUNTERS */
$countNewUsers = $this->countNewUsers;

$countAdsUpdated = $this->countAdsUpdated;

$countAdsRequests = $this->countAdsRequests;

/* LISTS */
$listLastUpdatedAds = $this->listLastUpdatedAds;


?>
<div class="row">

    <div class="col-sm-4">

        <div class="tile-stats tile-red js-button-link" data-href="<?= $siteUrl . $this->url('admin-accounts')?>" data-target="_self">
            <div class="icon"><i class="entypo-users"></i></div>
            <div class="num" data-start="0" data-end="<?=$countNewUsers?>" data-postfix="" data-duration="1000" data-delay="0"><?=$countNewUsers?></div>

            <h3>Новые пользователи</h3>
            <p>за последние 7 дней</p>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="tile-stats tile-green js-button-link" data-href="<?= $siteUrl . $this->url('admin-ads')?>" data-target="_self">
            <div class="icon"><i class="entypo-chart-bar"></i></div>
            <div class="num" data-start="0" data-end="<?=$countAdsUpdated?>" data-postfix="" data-duration="1000" data-delay="0"><?=$countAdsUpdated?></div>

            <h3>Обновлено объектов</h3>
            <p>за последние 7 дней</p>
        </div>

    </div>

    <div class="col-sm-4">

        <div class="tile-stats tile-aqua js-button-link" data-href="<?= $siteUrl . $this->url('admin-ads-requests')?>" data-target="_self">
            <div class="icon"><i class="entypo-mail"></i></div>
            <div class="num" data-start="0" data-end="<?=$countAdsRequests?>" data-postfix="" data-duration="1000" data-delay="0"><?=$countAdsRequests?></div>

            <h3>Новые заявки</h3>
            <p>за последние 7 дней</p>
        </div>

    </div>


</div>
<div class="row">

    <div class="col-sm-12">
        <?php if ( count($listLastUpdatedAds) )  {?>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Список обновленных объектов</div>

                    <div class="panel-options">

                    </div>
                </div>

                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Заголовок</th>
                        <th>Дата обновления</th>
                        <th>Управление</th>
                    </tr>
                    </thead>

                    <tbody>
                    <?php foreach( $listLastUpdatedAds as $keyIndex => $arrAds ) {?>
                        <?php $objAds = (object)$arrAds;?>
                        <tr>
                            <td><?=$objAds->ao_id?></td>
                            <td><?=$objAds->ao_title?></td>
                            <td><?=date( DEF_DATE_MASK_ADMIN . ' ' . DEF_TIME_MASK_ADMIN, strtotime($objAds->ao_updated_at))?></td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm btn-icon icon-left js-button-link"
                                        data-href="<?= $siteUrl . $this->url('admin-ads-add', array( 'ao_id' => $objAds->ao_id))?>"
                                        data-target="_blank" title="Редактировать">
                                    <i class="entypo-pencil"></i>
                                    Редактировать
                                </button>

                            </td>
                        </tr>
                    <?php } ?>


                    </tbody>
                </table>
            </div>
        <?php } ?>

    </div>

</div>

<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        // Sparkline Charts
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: '#ff6264'} );
        $('.inlinebar-2').sparkline('html', {type: 'bar', barColor: '#445982'} );
        $('.inlinebar-3').sparkline('html', {type: 'bar', barColor: '#00b19d'} );


        $(".monthly-sales").sparkline([1,2,3,5,6,7,2,3,3,4,3,5,7,2,4,3,5,4,5,6,3,2], {
            type: 'bar',
            barColor: '#485671',
            height: '80px',
            barWidth: 10,
            barSpacing: 2
        });








    });


    function getRandomInt(min, max)
    {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
</script>